.btn {
	&:hover, &:focus, &.focus { color: #fff; }
	color: #fff;
	background: $blue_dark;
	@include border-radius(0);
	@include transition(.2s);

	&:hover {
		background: lighten($blue_dark, 10);
		color: #fff;
	}

	&.btn-blue {

	}

	&.btn-larger {
		@include font-size(23px);
		@include rem('padding', 16px 84px);
	}
}

button.blue-light, .btn.blue-light {
	background-color: #9ac0de;

	&.tail-left:before, &.tail-right:after {
		background-color: #9ac0de;
	}
}

.section.contact {
	input[type='submit'] {
		@extend .btn;
		@extend .btn-larger;
		display: block;
		margin: 0 auto;
	}
}

.section.contact {

	input[type='submit'], .btn {
		color: #fff;
		@include font-size(18px);
		line-height: 1;
		@include rem('padding', 8px);
		text-align: center;
		width: 100%;
	}
}
