*, *:focus, *:active {
	@inlude box-shadow(none);
	outline: none;
}
.container {
	max-width: 1050px;
	position: relative;

	&.container-slider {
		@include media-query (sm) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.wrap { }

img {
	max-width: 100%;
	height: auto;
}

// Main content area
.main {

//	@include make-sm-column($main-sm-columns);

	.sidebar-primary & {
//		@include make-sm-column($main-sm-columns - $sidebar-sm-columns);
	}
}
