*, *:focus, *:active {
	@inlude box-shadow(none);
	outline: none;
}
.container {
	max-width: 1020px;
}
.wrap { }

img {
	max-width: 100%;
	height: auto;
}

// Main content area
.main {

//	@include make-sm-column($main-sm-columns);

	.sidebar-primary & {
//		@include make-sm-column($main-sm-columns - $sidebar-sm-columns);
	}
}
