html {
	font-size: 100%;

	h1, h2, h3, h4, h5, h6 {
		font-family: $header_font_family;
		line-height: 1;
	}
}

body {
	font-family: $paragraph_font_family;
}

h1 {
	color: $header_font_color;
	@include font-size($h1_font_size);
	line-height: 1;
}

main.main {  }

p { @include font-size($paragraph_font_size, $paragraph_line_height); }

.sf {
	font-family: $header_font_family;
//	@include font-size(20px);
	line-height: 1;
	vertical-align: baseline;

	.num {
//		@include font-size(28px);
		line-height: 1;
//		font-weight: 700;
	}
}