.content-info {
	@include rem('padding', 60px 0);
	background: $blue_dark;
	color: #fff;
	font-family: $header_font_family;

	.logo {
		text-align: center;
		margin-bottom: 20px;

		@include media-query (sm) {
			text-align: right;
			margin-bottom: 0;

			img {
				margin-top: -60px;
			}
		}
	}

	.logo-left {
		text-align: center;
		margin-bottom: 20px;

		@include media-query (sm) {
			text-align: left;
			margin-bottom: 0;
		}
	}

	.address {
		text-align: center;
		margin-top: 40px;

		@include font-size(13px);

		@include media-query (sm) {
			margin-top: 0;
//			text-align: right;
			@include font-size(14px);
		}

		@include media-query (md) {
			@include font-size(16px);
		}

		p {
			margin-bottom: 4px;

			@include media-query (sm) {
				margin-bottom: 8px;
			}
		}
	}

	p {
		@include rem('margin-bottom', 32px);
	}

	.section-title {
		@include font-size(24px);
		line-height: 1;
		@include rem('padding-bottom', 34px);
		@include rem('margin-bottom', 34px);
		border-bottom: 1px solid #fff;
		text-transform: uppercase;
	}

	a {
		color: #fff;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			padding: 0;
			margin-bottom: 24px;

			a {
				text-decoration: underline;
			}
		}
	}
}
