$header_nav_font_size: 18px;

.masthead {
	background: $blue_dark;
	margin-bottom: 0;
	border: none;

	@include media-query (sm) { margin-bottom: 0; }

	.container {
		width: auto;
	}

	.nav.navbar-nav {
		li {
			@include rem('margin', 0 4px);
			padding: 0;

			a {
				position: relative;
				font-family: $header_font_family;
				font-size: $header_nav_font_size;
				text-transform: uppercase;
				color: #fff;
				@include rem('padding', 14px 8px);

				@include media-query (sm) {
					@include font-size(14px);
					line-height: 1;
					@include rem('padding', 14px 4px);
				}
				@include media-query (md) {
					@include font-size(16px);
					line-height: 1;
					@include rem('padding', 14px 8px);
				}

				&:active, &:focus {
					color: #fff;
					text-decoration: none;
				}

				&:hover {
					color: #fff;
					text-decoration: none;
				}

				.sep {
					display: none;
					position: absolute;
					left: -8px;
					top: 13px;

					@include media-query (md) {
						display: block;
					}
				}
			}

			&:first-child {
				.sep {
					display: none;
				}
			}

			&.active, &:hover {
				background: none;
			}
		}
	}

	.brand {
		position: absolute;
		left: 0;
		top: 0;
		display: none;

		@include media-query (sm) {
			display: block;
		}
	}

	.navbar-collapse {

		@include media-query (sm) {
			@include rem('padding', 12px 0);
		}
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: none;
}
