$ribbon-background-color: #008fc5;
$ribbon-width: 180px;
$ribbon-height: 66px;
$ribbon-ends-width: 33px;
$ribbon-ends-border-width: 33px;

@mixin ribbon(){
	width: $ribbon-width;
	height: $ribbon-height;
	position: relative;
	background: $ribbon-background-color;

	&:before, &:after{
		position: absolute;
		top: 0;
		border: $ribbon-ends-border-width solid $ribbon-background-color;
		content: "";
		z-index: -1;
	}

	&:before{
		left: -$ribbon-ends-width;
		border-right-width: $ribbon-ends-width;
		border-left-color: transparent;
	}

	&:after{
		right: -$ribbon-ends-width;
		border-left-width: $ribbon-ends-width;
		border-right-color: transparent;
	}

	&:before, &:after {
		display: none;
		@include media-query (md) {
			display: block;
		}
	}
}

.ribbon {
	@include ribbon;
	color: #fff;
	font-family: 'Times New Roman', Times, serif;
	@include font-size(30px);
	line-height: 2;
}