$section_header_font_size: 42px;

section.section.grid {
	height: 300px;
	@include media-query (xs) { height: 420px; }
	@include media-query (sm) { height: 540px; }
	@include media-query (md) { height: 565px; }

	.section-content {
		position: relative;
		padding: 0;
		z-index: 99;
		
		&.locked {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
	}
}

section.section.blue {
	background: $blue_light;
}

section.section.about {
	img {
		margin: 0 auto 40px;
		display: block;

		@include media-query (sm) {
			margin: auto
		}
	}
}

section.section {
	position: relative;

	.section-title {
		@include rem('padding', 20px 0);
		background: $blue_dark;
		color: #fff;
		text-align: center;

		@include media-query (md) { @include rem('padding', 40px 0); }
		@include media-query (lg) { @include rem('padding', 60px 0); }

		h1, h2, h3, h4 {
			margin: 0;
			@include rem('padding', 20px 0);
			color: #fff;
			@include font-size(26px);
			display: inline-block;
			background-repeat: no-repeat;
			background-position: left center;

			&.with-icon { @include rem('padding-left', 80px); }

			@include media-query (sm) {
				@include font-size(42px);
			}

			&.dark {
				color: $blue_dark;
				margin: 0;
				padding: 0;
			}
		}

		&.blue { background: $blue_light; }
		&.small { @include rem('padding', 40px 0 8px); }
	}

	.section-content {
		$section_content_padding_mobile: 20px;
		$section_content_padding: 60px;

		@include rem('padding-top', $section_content_padding_mobile);
		@include rem('padding-bottom', $section_content_padding_mobile);

		@include media-query (sm) {
			@include rem('padding-top', $section_content_padding);
			@include rem('padding-bottom', $section_content_padding);
		}

		&.small {
			$section_content_small_padding_mobile: 10px;
			$section_content_small_padding: 20px;

			@include rem('padding-top', $section_content_small_padding_mobile);
			@include rem('padding-bottom', $section_content_small_padding_mobile);

			@include media-query (sm) {
				@include rem('padding-top', $section_content_small_padding);
				@include rem('padding-bottom', $section_content_small_padding);
			}
		}
	}

	.container.desktop {
		display: none;
		@include media-query (sm) {
			display: block;
		}
	}

	.container.mobile {
		text-align: center;

		img { display: inline-block; }

		@include media-query (sm) { display: none; }
	}

}

.section.intro {
	overflow: hidden;

	.container {
		position: relative;
	}

	.intro-block {
		text-align: center;

		@include media-query (sm) { @include rem('margin', 60px 0 0); }
		@include media-query (md) { @include rem('margin', 80px 0 0); }
	}

	.logo {
		@include rem('width', 120px);
		margin: 0 auto;

		@include media-query (sm) {
			width: auto;
		}

		img {
			display: inline-block;
		}
	}
}

.section.contact {

	.section-title {
		h2 {
			margin: 0;
			@include font-size(44px);
			line-height: 1;
		}
	}

	textarea {
		height: 140px;
	}
}